body {
    background-color: black;
}

/* full body code */
/* first segment of page*/
.frist_segment_first_box{

}
.first_segment_second_box{

}
/* second segment of page*/
.second_segment_first_box{
    float:left; 
    width:25%;
    height:500px;
}
.second_segment_second_box{
    float:left; 
    width:50%;
    height:500px;
}
.second_segment_third_box{
    float:left; 
    width:25%;
    height:500px;
}
/* footer*/

/* tic tac toe table */
.ttt_table{

}
.ttt_cell{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid rgb(253, 242, 242);
    font-size: 100px;
}

/* scoreboard series is for the left and right side where we keep track of where the person is in terms of wins */
.scorebaord{
    
}
.scoreboard_name{
    text-align: center;
    font-weight: bold;
}
.scorebaord_name_one{
    color: rgb(10, 145, 145);
}
.scorebaord_name_two{
color: rgb(158, 158, 6);
}
.scoreboard_score{
    text-align: center;
    color: white;
}

.reset_button{

}
